.pio
/build/CMakeFiles/3.28.3/CompilerIdC/a.out
/build/CMakeFiles/3.28.3/CompilerIdCXX/a.out
/build/CMakeFiles/cmake.check_cache
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/CMakeFiles/3.28.3/CMakeCCompiler.cmake
/build/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/CMakeConfigureLog.yaml
/build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeFiles/3.28.3/CMakeSystem.cmake
/.idea/editor.xml
/src/main.cpp
/build/Makefile
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/Makefile2
/.idea/misc.xml
/build/CMakeFiles/progress.marks
/lib/README
/test/README
/build/CMakeFiles/TargetDirectories.txt
/.idea/vcs.xml
